<div class="jumbotron">
  <div class="container">
    Welcome <%= currentUser.first_name %> <br>
    There are <%= roomCount %> rooms available
  </div>
</div>
<div class="container">
<div id="scroll-rooms row">
	<div class="col-lg-5 col-md-7">
	<div id="create-article">
		<button type="button" class="btn btn-primary"><a href="/rooms/new">Create new Rooms</a></button>
	</div>
	<ul class="list-group">
		<% rooms.forEach(function(room, i) { %>
			<li class="list-group-item">
				<label class="col-sm-2 control-label"> 
					$<%= room.price%> <br>
					<span class="glyphicon glyphicon-user">= <%= room.max_people%></span>
				</label>
				<a href="/rooms/<%=room._id%>">
					<h4 class="list-group-item-heading"><%= room.room_type %></h4>
				</a>
			    
			    <%= room.hotel_name%> <br>
			    Manager: <%= room.organizer%> <br>
			    <a href='' class="location-grabber"><%= room.street_address + ', ' + room.city + ', ' + room.state + ' ' + room.zipcode %></a> 
			</li>
		<% }); %>
	</ul>
	</div>
	<div class="col-lg-7 col-md-6">
		<div id="map-canvas" class="map"></div>
	</div>
 </div>
        			

 <div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contact Us</h3>
		    			<p class="contact-us-details">
	        				<!-- <b>Address:</b>  <br/> -->
	        				<b>Phone:</b> 212 222 2222<br/>
	   
	        				<b>Email:</b> <a href="mailto:info@a.r.montenegro@gmail.com">info@perfect.sl</a>
	        			</p>
		    		</div>				
		    		
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2015  Montenegro-Cortes Productions. 
		    		</div>
		    	</div>
		    </div>
	    </div>

	    <% rooms.forEach(function(room, i) { %>
<div class="infobox-wrapper">
    			<div id="infobox">
        			<%= room.room_type %>
    			</div>
			</div>
        			<% }); %>

<script type="text/javascript" src="/javascripts/map.js"></script>




