<div id="scroll-rooms row">
	<div class="col-lg-8 col-md-6">
	<h3>Welcome</h3>
	<div id="create-article">
		<button><a href="/rooms/new">Create new Rooms</a></button>
	</div>
	<div class="list-group">
		<% rooms.forEach(function(room, i) { %>
			<a href="#" class="list-group-item active">
				<h4 class="list-group-item-heading"><%= room.room_type %></h4>
			</a>
			    <p class="list-group-item-text"><%= room.price%></p>
			    <p class="list-group-item-text"><%= room.max_people%></p>
			    <p class="list-group-item-text"><%= room.hotel_name%></p>
			    <p class="list-group-item-text"><%= room.organizer%></p>
			    <p class="list-group-item-text"><%= room.street_address%> <%= room.city%> <%= room.state%> <%= room.zipcode%>  </p>
		<% }); %>
	</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div id="map-canvas" class="map"></div>
	</div>
</div>


<script type="text/javascript" src="/javascripts/map.js"></script>