
<div class="container">
	<div>
		<% if(currentUser && currentUser == room.organizer) { %>
		<% include edit_button.ejs %>	
		<%}%>
	</div>

		<h1> <%= room.room_type%> </h1>
			<p><%= room.content %></p>
			<p>Manager: <%= room.organizer %></p>
			<p><%= room.price %></p>
			<p><%= room.street_address %> <%= room.city %> <%= room.state %> <%= room.zipcode %></p>

			<p><%= room.hotel_name %></p>
			<p><%= room.max_people %></p>
			<p><%= room.walker %></p>
		<form action="/rooms/<%=room._id%>/?_method=PATCH" method="post">
			<input type="submit" value="RSVP"/><br>
		</form>
	</div>
</div>


